@font-face {
    font-family: "TTLakes";
    src: url("./assets/fonts/TTLakes/TTLakes-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    src: url("./assets/fonts/TTLakes/TTLakes-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    src: url("./assets/fonts/TTLakes/TTLakes-DemiBold.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button {
    font-family: 'TTLakes'
}


body {
    font-family: 'TTLakes';
    font-weight: 400;
    max-width: 100%;
    width: 100vw;
}

.width-container {
    max-width: 1440px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header__icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: inherit;
}

.icon {
    width: 40px;
    height: 40px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.button .icon {
    background-color: #FF3E79;
    border-radius: 50%;
    border-color: transparent;
}


.button {
    background-color: transparent;
    border-color: transparent;
    transition: opacity .3s linear;
    cursor: pointer;
}

.button:hover {
    opacity: .5;
}

.button_icon-right {
    display: flex;
    align-items: center;
    background-color: #FF3E79;
    border-radius: 32px;
    padding: .6em 1em;
    gap: 1em;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.header__icons-container_tablet {
    display: none;
}

.icon-call {
    background-image: url("./assets/call.svg");
}

.icon-faq {
    background-image: url("./assets/icon.svg");
}

.icon-contacts {
    background-image: url("./assets/Group.svg");
}

.icon-burger {
    background-image: url("./assets/burger-ic.svg");
}

.icon-logo {
    background-image: url("./assets/logo-ic.svg");
    width: 96.55px;
    height: 50.81px;
}

.icon-propert {
    background-image: url("./assets/propert-ic.svg");
}

.icon-search {
    background-image: url("./assets/search-ic.svg");
}

.icon-cross {
    background-image: url("./assets/cross-ic.svg");
}

.icon-fast-search {
    background-image: url("./assets/fast-search-ic.svg");
}

.icon-arrow-right {
    background-image: url("./assets/section-button.svg");
}

.icon-arrow-right-light {
    background-image: url("./assets/dropdown.svg");
    height: 7px;
    width: 10px;
}

.icon-arrow-right-pink {
    background-image: url("./assets/Line.svg");
    width: 6px;
    height: 10px;
}

.logo {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.logo_lenovo {
    background-image: url("./assets/lenovo.svg");
    width: 108px;
    height: 32px;
}

.logo_samsung {
    background-image: url("./assets/samsung.svg");
    width: 116px;
    height: 38.52px;
}

.logo_apple {
    background-image: url("./assets/apple.svg");
    width: 44px;
    height: 44px;
}

.logo_bosch {
    background-image: url("./assets/bosch.svg");
    width: 128px;
    height: 28.6px;
}

.logo_hp {
    background-image: url("./assets/hp.svg");
    width: 52px;
    height: 52px;
}

.logo_acer {
    background-image: url("./assets/acer.svg");
    width: 94px;
    height: 24px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    height: 88px;
    padding: 1em;
}

.header__elements {
    display: flex;
    gap: 1em;
    height: 100%;
}



.divider {
    height: 80%;
    width: 2px;
}

.divider_vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider_vertical::before {
    content: '';
    background-color: #EAEAEA;
    height: 70%;
    width: 100%;
    display: block;
}

.article-header {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    font-family: "TTLakes";
    font-weight: 500;
    font-style: normal;
    gap: 12px;
    margin-bottom: 32px;
    padding-top: .7em;
}

.article-header__text {
    padding: .5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-header::before {
    content: '';
    display: block;
    background-color: #41F6D7;
    width: 4px;
    border-radius: 0 4px 4px 0;
}

.article-header__text_buttons {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.article-header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main {
    width: 100%;
}

.divider_h2 {
    display: flex;
    justify-content: left;
    align-items: center;
}


.more-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    margin-bottom: 16px;
}

.more-info::before {
    content: '';
    display: block;
    background-image: url("./assets/expand.svg");
    width: 24px;
    height: 24px;
}

.main__nav {
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

.main__nav::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.main__nav-overflow-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: stretch;
    gap: 20px;
    position: relative;
    white-space: nowrap;
    padding: 0 .7em 0 .7em;
}

.main__nav-element {
    padding: .5em;
}

.main__nav-element_active {
    border: 2px solid #B8FFEC;
}

.article__text_tablet {
    display: none;
}

.article__text-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 16 px;
}

.header__button_text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .3em;
}

.header__button-text {
    font-weight: 500;

}

.article {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: .7em;
}

.sidebar {
    width: 320px;
    height: 100vh;
    box-shadow: 16px 0px 52px #0E185033;
}

.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: inherit;
    padding: 1.5em
}

.sidebar__icons-container {
    display: flex;
    gap: 1em;
    padding-bottom: 1em;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.nav-menu__list-item {
    font-weight: 500;
    display: flex;
    gap: 1em;
    line-height: 2;
}

.active-el {
    color: #7E7E82;
}

.nav-menu__list-item::before {
    content: '';
    display: block;
    background-color: transparent;
    width: 4px;
    border-radius: 0 4px 4px 0;
}

.nav-menu__list-item.active-el::before {
    background-color: #41F6D7;
}

.sidebar-footer {
    height: 250px;
}

.sidebar__wrapper {
    min-height: 100%;
    margin-bottom: -250px;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.phone-number {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2.5em;
}



.email {
    font-weight: bold;
    padding-bottom: .75em;
}

.lang {
    font-weight: 600;
}

.sidebar__width-container {
    padding-left: 1em;
}

.products-section {
    width: 100%;
    background-color: #f8f8f8;
}

.products-section__element-list {
    width: 0;
    align-items: stretch;
}

.products-section__element {
    border: 2px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    width: 240px;
    align-items: center;
    background-color: white;
    height: auto;
}

.products__header {
    color: #7E7E82;
    padding: 1em 0;
    text-transform: uppercase;
}

.products-section__width-container {
    padding-bottom: 2.125em;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-container::after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(90deg, #F8F8F800 0%, #F8F8F8 100%); ;
    position: absolute;
    z-index: 1;
}

.default-pagination {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.default-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
}

.default-pagination .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.products-section__more-info {
    display: none;
}

.products-section__more-info::before {
    transition: transform .3s linear;
}

.products-section__element_visible {
    display: flex !important;
}

.products-section__more-info_active::before {
       transform: rotate(180deg);
}

.products-section__element_element-service{
    height: 224px;
    align-items: flex-start;

}

.products-section__element_element-service .icon {
    align-self: flex-end;
}

.price-list__table-row{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a a"
        "b b"
        "c d";
        height:100%;
        background-color: white;
        border-radius: 6px;
        padding: 1em 1em;
        font-size: 14px;
}

.price-list__table-element:nth-child(1){
    grid-area: a;
}
.price-list__table-element:nth-child(2){
    grid-area: b;
}
.price-list__table-element:nth-child(3){
    grid-area: c;
}
.price-list__table-element:nth-child(4){
    grid-area: d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.price-list__table-element-heading{
    color: #7E7E82;
}

.price-list__header {
    color: #7E7E82;
    text-transform: uppercase;
    padding: 1em 0;
}

.price-list{
    background-color: #F8F8F8;
}

.price-list__description {
    font-size: 14px;
    color: #1B1C21;
    width: 100%;
    margin-top: 1.8em;
}

.price-list__table-header {
    background-color: transparent;
    display: none;
}

.link_right-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .58em;
    font-weight: 500;
    padding: 1em 0;
}

.feedback-sidebar__header {
    display: flex;
    gap: 1em;
    padding: 0 0 1em;
    font-weight: bold;
    font-size: 24px;
}

.text-field {
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding: 1em 0.8em;
}

.feedback-sidebar__link {
    color:#FF3E79;
    text-decoration: none; 
}

.feedback-sidebar__header::before {
    content: '';
    display: block;
    background-color: #41F6D7;
    width: 4px;
    border-radius: 0 4px 4px 0;
}

.feedback-sidebar__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0em 1em 0em;
}

.feedback-sidebar__button {
    display: flex;
    justify-self: end;
    margin: 1em 1em 1em;
}

.feedback-sidebar__icon-cross {
    background-color: #FF3E79;
    border-radius: 50%;
    margin: 1em 1em 2em;
}

.agreement {
    margin: 1.2em 1.2em 1.2em;
    font-size: 14px;
}

.feedback-sidebar {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    box-shadow: -16px 0px 52px #0E185033;
}

.call-container {
    display: flex;
    flex-direction: column;
}

.call-sidebar {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    box-shadow: -16px 0px 52px #0E185033;
}

@media (min-width: 767px) {
    .header__icons-container_tablet {
        display: flex;
    }

    .article__text_tablet {
        display: block;
    }

    .content-pct {
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }

    .article {
        flex-direction: row;
    }

    .products-section__element {
        width: calc((100% - 3em) / 3) !important;
        margin: 0 !important;
    }

    .swiper-wrapper {
        width: 100%;
        transform: none !important;
    }

    .products-section__element-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1em 1.5em;
        padding: 1.5em 0;
    }
    .default-pagination {
        display: none;
    }
    .products-section__more-info {
        display: flex;
    }
    .swiper-container::after {
        display: none;
    }
    .products-section__element_tablet {
        display: none;
    }

    .price-list__swiper-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }

    .swiper-slide {
        margin-right: 0 !important;
    }

    .price-list__table-row {
        grid-template-columns: 4.46fr 1fr 1.1fr 118px;
        grid-template-areas: "a b c d";
        width: 100% !important;
        border-bottom: 1px solid #EAEAEA;
        padding: 1.5em 0;
    }

    .price-list__table {
        padding: 0 1em;
        background-color: white;
        border-radius: 6px;
    }

    .price-list__table-element-heading {
        display: none;
    }

    .price-list__table-header .price-list__table-element-heading {
        display: block;
    }

    .price-list__table-element {
        display: flex;
        align-items: center;
    }

    .price-list__description {
        width: 421px;
    }

    .price-list__table-header {
        display: grid;
        padding: 1em 1em;
        border-bottom: none;
    }

    .price-list__table-row:last-child {
        border-bottom: none;
    }

    .feedback-sidebar {
        width: 320px;
    }
}

@media (min-width: 1120px) {
    .header__icons-container_tablet {
        display: none;
    }

    .content-pct {
        width: 531.35px;
        height: 307px;
    }

    .main__nav-overflow-container {
        overflow-x: visible;
        flex-wrap: wrap;
    }

    .header {
        display: none;
    }

    .products-section__element {
        width: calc((100% - 4.5em) / 4) !important;
    }
    
    .products-section__element_tablet{
        display: flex;
    }

    .products-section__element_pc {
        display: none;
    }

    .feedback-sidebar {
        width: 440px;
    }

    .feedback-sidebar__button{
        margin: 2em 2em 2em;
    }

    .feedback-sidebar__container {
        margin: 0em 2em 0em;
    }

    .feedback-sidebar__icon-cross {
        right: 100%;
        position: absolute;
        margin-top: 35px;
    }

    .feedback-sidebar__header {
        margin-top: 40px;
    }
}

@media (max-width: 1120px) {
    .header__button-text {
        display: none;
    }

    .article__text_pc {
        display: none;
    }

    .article-header__text_buttons {
        display: none;
    }
}